.themes, .threads{
    text-transform: uppercase;
    font-size: 30px;
}

.theme, .thread, .message{
    background-color: #eee;
    margin: 15px;
}

a{
    text-decoration: none;
    color: #24242424;
}

a:hover{
    text-decoration: underline;
}